$default-background-color: #fff;
$accent-color: #5BB5A2;
$default-color: #1A191E;
$light-shade: #F8F8F8;
$primary-light:  #E8F2EE;
$border-color: #E8E8E8;
$accent-text-color: #1A191E;
$accent-text-color-fade: #1a191e85;


$primary-font: "DM Sans", serif;
$secondary-font: 'Inter', serif;
