$default-background-color: #fff;
$accent-color: #5bb5a2;
$default-color: #1a191e;
$light-shade: #f8f8f8;
$primary-light: #e8f2ee;
$border-color: #e8e8e8;
$accent-text-color: #1a191e;
$accent-text-color-fade: #1a191e85;
$text-color-light: #1a191e80;
$primary-font: "DM Sans", serif;
$secondary-font: "Inter", serif;

$light-grey: #777;

// Borde-radius

$border-radius-sm: 15px;

$border-radius-rm: 7px;
