header {
  background-color: $primary-light;
  padding: 12.8rem 14rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between; 

  .imagebox {
    align-self: center;
    @include padCenter;
    position: relative;
    display: flex;
    justify-content: center;
    right: 50%;
    transform: translateX(60%);
    align-items: start;


    img {
      width: 100%;
      position: absolute;
      transform: rotate(90deg);
      object-fit: scale-down;
    }

    .rotate-left {
      margin-top: 5rem;
      transform: rotate(100deg);
      margin-right: -15rem;
    }

    .top {
      z-index: 1;
    }

    .rotate-right {
      margin-right: 15rem;
      margin-top: 5rem;
      transform: rotate(80deg);
    }
  }
}