.home-header {
  padding: 12.8rem 24rem;
  &__textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    p {
      margin-top: 1.6rem;
    }
    .check-list {
      column-gap: 8rem;
      row-gap: 1.6rem;
      margin-top: 3.2rem;
      .list {
        svg {
          background-color: $primary-light;
          height: 2.6rem;
          width: 2.6rem;
          border-radius: 50%;
        }
        span {
          //styleName: text/medium;
          font-family: Inter;
          font-size: 18px;
          font-weight: 500;
          line-height: 32.4px;
        }
      }
    }
    .button {
      margin-top: 6.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 3.2rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
    }
  }
}
