.home-header {
  @include padTop;
  @include padCenter;
  

  &__textbox {
    display: flex;
    flex-direction: column;

    justify-content: center;

    p {
      margin-top: 1.6rem;

     
    }

    .check-list {
      column-gap: 8rem;
      row-gap: 1.6rem;
      margin-top: 3.2rem;


      @include sm-desktop {
        margin-top: 2.5rem;
        column-gap: 6rem;
      }

      @include tab-port {
        margin-top: 2.5rem;
        column-gap: 3rem;
      }

      .list {
        svg {
          background-color: $primary-light;
          height: 2.6rem;
          width: 2.6rem;
          border-radius: 50%;
        }

        span {
          font-family: Inter;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4;

          @include sm-desktop{
            font-size: 1.4rem;
          }
        }
      }
    }

    .button {
      margin-top: 6.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 3.2rem;

      @include sm-desktop{
      margin-top: 4rem;
      gap: 2.5rem;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
    }
  }
}