.loader {
  width: 48px;
  height: 48px;
  display: none;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image: radial-gradient(circle 10px, #ff0 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #ff0 100%, transparent 0),
    radial-gradient(circle 10px, #ff0 100%, transparent 0),
    radial-gradient(circle 10px, #ff0 100%, transparent 0),
    radial-gradient(circle 10px, #ff0 100%, transparent 0),
    radial-gradient(circle 10px, #ff0 100%, transparent 0),
    radial-gradient(circle 10px, #ff0 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loader::after {
  font-size: 1px;
  background: #fff;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0%,
  100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}
@keyframes blast {
  0%,
  40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translatex(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinBottom {
  0% {
    opacity: 0;
    transform: translatey(30px);
  }

  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
