@use "../abstracts/variables" as *;

@use "../abstracts/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: $default-background-color;
  color: $default-color;
}

h1,
h2,
h3 {
  font-family: $primary-font;
}

a {
  text-decoration: none;
  color: $default-color;
}

li {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
}

p,
span {
  font-family: $secondary-font;
}
