* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $default-background-color;
    color: $default-color;
}

h1,h2,h3{
    font-family: "DM Sans", "inter";
}

a {
  text-decoration: none;
  color: $default-color;
}

li{
    list-style: none;
}