@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

html {
  font-size: 62.5%; // 1rem = 10px

  @include tab-port {
    // 1rem = 8px, (8/16) * 100
    font-size: 50%;
  }

  @include tab-land {
    // 1rem = 9px, (9/16) * 100
    font-size: 56.25%;
  }

  @include sm-desktop {
    // 1rem = 12px, (12/16) * 100
    font-size: 59%;
  }

  @include bg-desktop {
    // 1rem = 12px, (12/16) * 100
    font-size: 72%;
  }
}

.heading-primary {
  font-family: $primary-font;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.heading-primary.bg {
  font-size: 10rem;
  animation: moveinleft 1s ease-out;
  @include tab-land {
    font-size: 7rem;
  }

  @include phone {
    font-size: 5rem;
    line-height: 1.2;
  }
}

.heading-primary.md {
  font-size: 9rem;
}

.heading-primary.sm {
  font-size: 8rem;
  animation: moveinleft 1s ease-out;

  @include tab-land {
    font-size: 6rem;
  }

  @include phone {
    font-size: 4rem;
  }
  @include medium-phone {
    line-height: 1.2;
  }
}

.heading-secondary {
  font-family: $primary-font;
  font-weight: 500;
  line-height: 70.4px;
  letter-spacing: -0.03em;
  font-size: 6.4rem;

  @include tab-land {
    font-size: 4.8rem;
    line-height: 1.4;
  }
  @include medium-phone {
    font-size: 3.5rem;
    line-height: 1.4;
  }
}

.heading-tertiary {
  font-family: $primary-font;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
}

.heading-tertiary.bg {
  font-size: 4.8rem;
  @include tab-land {
    font-size: 3.6rem;
  }

  @include phone {
    font-size: 2.4rem;
  }
}

.heading-tertiary.md {
  font-size: 3.4rem;

  @include tab-land {
    font-size: 2.8rem;
  }

  @include phone {
    font-size: 2.2rem;
  }
}

.heading-tertiary.sm {
  font-size: 2.8rem;

  @include tab-land {
    font-size: 2.6rem;
  }

  @include phone {
    font-size: 2rem;
  }
}

.paragraph {
  font-family: $secondary-font;
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: -0.03em;
  color: $default-color;
}

.paragraph.bg {
  font-size: 2rem;
}

.paragraph.md {
  font-size: 1.8rem;

  @include tab-land {
    font-size: 1.6rem;
  }
  @include phone {
    font-size: 1.4rem;
  }
}

.paragraph.sm {
  font-size: 1.6rem;
}
.paragraph.rm {
  font-size: 1.4rem;
}
