html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    // 1rem = 9px, (9/16) * 100
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // 1rem = 8px, (8/16) * 100
    font-size: 50%;
  }

  @include respond(sm-laptop) {
    // 1rem = 12px, (12/16) * 100
    font-size: 65%;
  }
  @include respond(big-desktop) {
    // 1rem = 12px, (12/16) * 100
    font-size: 75%;
  }
}
.heading-primary {
  font-size: 10rem;
  font-weight: 500;
  // line-height: 88px;
  line-height: 1;
  letter-spacing: -0.03em;
}
.heading-secondary {
//styleName: heading/h1;
font-family: $primary-font;
font-size: 8rem;
font-weight: 500;
line-height: 1;
letter-spacing: -0.03em;

}

.intro {
  font-family: DM Sans;
  font-size: 2rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: $default-color;
}

.paragraph{
font-family: $secondary-font;
font-size: 2.2rem;
font-weight: 500;
line-height: 1.4;

}

.box-header{
  font-family: $primary-font;
font-size: 2rem;
font-weight: 500;
line-height: 1.2;
letter-spacing: -0.03em;
color: $accent-text-color;
}
.box-description{
  font-family: $primary-font;
font-size: 1.6rem;
font-weight: 500;
line-height: 1.2;
letter-spacing: -0.03em;
color: $accent-text-color;
}