@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section_account {
  margin: 30rem 0;
  &-wrapper {
    .section_account-content {
      .content-textbox {
        text-align: center;

        .heading-secondary {
          margin-bottom: 1.5rem;
        }

        .paragraph.bg {
          width: 70%;
          margin: 0 auto;

          @include phone {
            width: 90%;
            margin: 0 auto;
          }
        }
      }

      .content_cards {
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 3.2rem;
        margin: 10rem 0;

        @include tab-port {
          flex-direction: column;
          align-items: center;
          gap: 10rem;
        }

        .card {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          text-align: center;

          .card-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .card-plan {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.8rem;
              padding-bottom: 4rem;
            }

            .card-wrapper {
              display: flex;
              align-items: end;
              justify-content: center;
              gap: 1rem;
              width: 20rem;
              margin: 0 auto;
            }

            .paragraph.sm {
              width: 90%;
              margin: 0 auto;
              margin-top: 1.5rem;

              @include phone {
                width: 90%;
              }
            }
          }

          .card-img {
            width: 100%;

            height: 25rem;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .card-btn {
            border: none;
            width: 100%;
            font-size: 1.5rem;
            color: $default-background-color;
            background-color: $accent-color;
            padding: 1.5rem;
            border-radius: $border-radius-rm;
          }
        }
      }
    }
  }
}

// PRICING

.pricing {
  margin: 20rem 0;

  @include medium-phone {
    margin: 10rem 0;
  }

  .pricing_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 12rem;

      .row-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include tab-port {
          gap: 6rem;
        }
      }
      .row-heading {
        display: flex;
        margin-bottom: 3rem;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;

        @include tab-port {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }

        @include medium-phone {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .column {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          @include medium-phone {
            justify-content: normal;
          }

          .column-icon {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            img {
              padding: 1rem;
              background-color: $primary-light;
              border-radius: 50%;
              width: 5rem;
            }
          }
        }
      }
    }
  }
}
