@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

//  SECTION FEATURECARD

.section_featurecard {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;

    @include tab-port {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    .content-textbox--wrapper {
      flex: 1;

      .textbox {
        .text {
          .heading-secondary {
            @include tab-port {
              margin-bottom: 1.3rem;
            }
          }
          .paragraph.md {
            @include tab-port {
              width: 70%;
              margin: 0 auto;
            }
            @include phone {
              width: 100%;
              margin: 0 auto;
            }
          }
        }
        .content-list {
          margin: 3rem 0 2.5rem 0;

          @include tab-port {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.4rem;
          }

          .list--item {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 1.4rem;
          }
        }
      }
    }

    .content-image {
      height: 100%;
      width: 100%;
      flex: 1;

      img {
        height: 70vh;
        object-fit: contain;
        width: 100%;

        @include tab-land {
          height: 60vh;
          width: 100%;
        }
      }
    }
  }
}

// SECTION DETAILS

.section_details {
  &-wrapper {
    width: 100%;

    .content-textbox {
      text-align: center;

      .paragraph.bg {
        margin: 0 auto;
        width: 70%;

        @include phone {
          width: 100%;
        }
      }
    }

    .content-box--1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.2rem;
      margin: 5rem 0;

      @include tab-port {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10rem;
      }

      .box-bg {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 3rem;
        background-color: $light-shade;
        border-radius: $border-radius-sm;

        .box-text {
          padding-top: 3rem;

          .paragraph.md {
            width: 70%;
            margin: 0 auto;
            color: $light-grey;

            @include phone {
              width: 80%;
            }
          }
        }

        .box-image {
          display: flex;
          justify-content: center;
          gap: 2rem;

          height: 20rem;
          width: 100%;

          @include phone {
            gap: 1rem;
          }

          img {
            height: 100%;
            width: 100%;
            overflow: hidden;
          }
        }

        .box-image--stats {
          display: flex;
          justify-content: center;
          height: 20rem;
          width: 100%;

          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .content-box--2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.2rem;

      @include tab-port {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10rem;
      }

      .box-sm {
        background-color: $light-shade;
        border-radius: $border-radius-sm;
        height: 70vh;

        .box-text {
          text-align: center;
          padding-top: 3rem;

          .paragraph.md {
            width: 70%;
            margin: 0 auto;

            color: $light-grey;

            @include phone {
              width: 80%;
            }
          }
        }

        .box-logos {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 2rem;
          width: 100%;
          padding: 3rem 2rem;

          @include tab-port {
            padding: 10rem 2rem;
          }

          img {
            width: 100%;
            height: 6rem;
            padding: 1.5rem;
            border-radius: $border-radius-sm;
            background-color: $default-background-color;
          }
        }

        .box-gallery--wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          width: 100%;

          .box-gallery {
            width: 20rem;
            margin-top: 3rem;

            .box-text {
              @include tab-port {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }

            .box-img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 20rem;
              border-radius: $border-radius-sm;
              margin-bottom: 2rem;
            }

            .box-1 {
              background-color: #e8f2ee;
            }

            .box-2 {
              background-color: #f1dfdf;
            }

            .box-3 {
              background-color: #dfe1f1;
            }

            .box-4 {
              background-color: #dfebf1;
            }

            .box-5 {
              background-color: $default-background-color;
            }
          }
        }

        .box-dashboard--wrapper {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          margin: 4rem 2rem;
          overflow-y: scroll;
          height: 50vh;

          .box-dashboard {
            width: 100%;

            .box_info {
              display: flex;
              align-items: center;

              background-color: $default-background-color;
              border-radius: $border-radius-rm;
              padding: 1.5rem;

              .box_info--name {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-right: auto;
              }
            }
          }
        }
      }
    }
  }
}

//  SECTION ACCOUNT

.section_account-feature {
  margin: 20rem 0;
  &-wrapper {
    .section_account-content {
      .content-textbox {
        text-align: center;

        .heading-secondary {
          margin-bottom: 1.5rem;
        }

        .paragraph.bg {
          width: 70%;
          margin: 0 auto;

          @include phone {
            width: 90%;
            margin: 0 auto;
          }
        }
      }

      .content_cards {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 3.2rem;
        margin: 10rem 0;

        @include tab-port {
          flex-direction: column;
          align-items: center;
          gap: 10rem;
        }

        .card {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          text-align: center;

          .card-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .card-plan {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.8rem;
              padding-bottom: 4rem;
            }

            .card-wrapper {
              display: flex;
              align-items: end;
              justify-content: center;
              gap: 1rem;
              width: 20rem;
              margin: 0 auto;
            }

            .paragraph.sm {
              width: 90%;
              margin: 0 auto;
              margin-top: 1.5rem;

              @include phone {
                width: 90%;
              }
            }
          }

          .card-img {
            width: 100%;

            height: 25rem;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .card-btn {
            border: none;
            width: 100%;
            font-size: 1.5rem;
            color: $default-background-color;
            background-color: $accent-color;
            padding: 1.5rem;
            border-radius: $border-radius-rm;
          }
        }
      }
    }
  }
}
